
<div class="row">
    <div class="col-12 col-md-5">

        <form>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label text-white">Entrada:</label>
                        <input type="date" class="form-control" id="fechaIngreso">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="form-label text-white">Salida:</label>
                        <input type="date" class="form-control" id="fechaSalida">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label text-white">Nombre:</label>
                            <input type="text" class="form-control" id="NombreCliente">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label class="form-label text-white">Identificación:</label>
                            <input type="text" class="form-control" id="idCliente">
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-3">Reserva</button>
            </div>
        </form>

    </div>
</div>